:root {
  --primary-black: rgb(42, 42, 42);
  --primary-sand: rgb(180, 163, 139);
  --primary-red: rgb(186, 68, 66);
  --primary-white: rgb(235, 235, 240);
  --secondary-black: rgb(94, 94, 100);
  --secondary-sand: rgb(221, 214, 204);
  --intense-sand: rgb(192, 142, 73);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-color: var(--primary-black);
}
button {
  font-family: inherit;
}
ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  width: 100%;
  height: fit-content;
}
button {
  border: none;
  padding: none;
}
section {
  width: 100%;
}
/*   N  A  V   */
.nav {
  width: 100%;
  height: 60px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-black);
  color: var(--primary-white);
  z-index: 99;
  overflow: hidden;
}
.webarch--logo {
  width: 40px;
}
.nav-left {
  display: flex;
  align-items: center;
  column-gap: 6px;
  font-weight: 900;
}
.nav-right button {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--primary-black);
  border: 1px solid var(--primary-white);
  color: var(--primary-white);
  transition: 0.35s;
}
.nav-right button:hover {
  background-color: var(--primary-white);
  color: var(--primary-black);
}

/*  S E C T I O N   1  */
.s1-container {
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 10px 20px;
}
.s1container-up {
  font-weight: 900;
  font-size: 2rem;
  margin-top: 50px;
}
.s1container-up img {
  width: 100px;
  position: relative;
  left: 70%;
  bottom: 80px;
}
.s1container-mid {
  font-size: 1.2rem;
  position: relative;
  left: 50px;
  width: 85%;
  margin-top: -70px;
}
.s1container-dwn {
  margin-top: 10px;
}
/*  S E C T I O N   2  */
.s2-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 50px;
  padding: 30px 20px;
  background-color: var(--secondary-black);
}
.s2-box {
  width: 320px;
  height: 200px;
  border-radius: 10px;
  background-color: var(--primary-white);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.s2-box-up {
  height: 15%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 5px;
  border-bottom: 2px solid var(--secondary-black);
  display: flex;
  column-gap: 20px;
}
.s2-box-up-left {
  width: 42px;
}
.s2-box-title {
  width: fit-content;
  margin-top: -1px;
}
.s2-box-dwn {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
}
.s2-box2 {
  align-self: center;
}
.s2-cnt2-stack{
  display: none;
  visibility: hidden;
}
.s2-cnt2-text > p{
  display: none;
  visibility: hidden;
}
/*  S E C T I O N   3  */
.s3-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--primary-black);
  color: var(--primary-white);
}
.s3-text {
  padding: 10px 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: -100px;
  z-index: 1;
}
.s3-text-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-sand);
  width: 60%;
}
.s3-stats {
  align-self: center;
  background-color: var(--secondary-sand);
  width: 80%;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.s3-stats{
  display: block;
}
/*  S E C T I O N   4  */
.s4-container {
  background-color: var(--secondary-black);
  color: var(--primary-white);
}
.s4-lists {
  display: flex;
  font-size: 0.8rem;
  padding: 0px 5px;
  padding-bottom: 20px;
  justify-content: space-between;
}
.s4-list1 {
  width: 50%;
}
.s4-list2 {
  width: 50%;
}
.s4-title {
  padding: 0px 20px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--primary-sand);
}

/*  S E C T I O N   5  */
.s5 {
  width: 0px;
  height: 0px;
}
/*  S E C T I O N   6  */
.s6-container {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-black);
  background: linear-gradient(var(--secondary-black), rgba(42, 42, 42, 0.9));
}
.s6-title {
  display: flex;
  flex-direction: column;
  color: var(--primary-white);
  margin-bottom: 20px;
  z-index: 1;
  line-height: 2;
}
.s6-text-center {
  text-align: center;
}
.visitcards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.visitcard-reverse {
  width: 0;
  height: 0;
  display: hidden;
  visibility: hidden;
}
.visitcard-reverse img {
  width: 0px;
  height: 0px;
}
.visitcard {
  align-self: center;
  border-radius: 3px;
  width: 300px;
  display: flex;
  height: 150px;
  background-color: var(--primary-black);
  padding: 2px;
  color: var(--primary-white);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.visitcard-left {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visitcard-left img {
  width: 55px;
}
.visitcard-mid {
  display: flex;
  align-items: center;
  height: 100%;
  width: 2%;
}
.visitcard-bar {
  height: 84%;
  width: 35%;
  background-color: var(--primary-sand);
  border-radius: 5px;
}
.visitcard-right {
  width: 63%;
}
.visitcard-right-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.visitcard-subtitle {
  font-size: 0.6rem;
}
.visitcard-right-bottom {
  margin-top: 20px;
  height: 40%;
}

.visitcard-contact-container {
  font-size: 0.6rem;
  font-weight: 300;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}
.visitcard-contact-container > p {
  text-align: center;
}
.visitcard-contact-social {
  display: flex;
  justify-content: space-around;
}
.visitcard-social-icon {
  background-color: var(--primary-sand);
  width: 20px;
  border-radius: 25%;
}
.visitcard-social-icon:hover {
  background-color: var(--secondary-sand);
}
/*  G E N E R A L  */
.font090 {
  font-size: 0.9rem;
}
.font120 {
  font-size: 1.2rem;
}
.w600 {
  font-weight: 600;
}
.color--is {
  color: var(--intense-sand);
}
.lines-of-code-bg {
  height: 100px;
  width: 150px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;
  padding: 5px 0;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.lines-of-code-chain {
  display: flex;
  column-gap: 10px;
  height: 15%;
}
.lines-of-code-bg1 .lines-of-code-chain {
  justify-content: flex-end;
}
.line-of-code {
  height: 100%;
}
.line-w15 {
  width: 15%;
}
.line-w20 {
  width: 20%;
}
.line-w30 {
  width: 30%;
}
.line-w50 {
  width: 50%;
}
.line-w70 {
  width: 70%;
}
.line-purple {
  background-color: rgb(145, 11, 138);
}
.line-blue {
  background-color: rgb(20, 63, 174);
}
.line-yellow {
  background-color: rgb(200, 178, 14);
}
.line-red {
  background-color: rgb(165, 42, 42);
}
.line-cyan {
  background-color: rgb(5, 134, 181);
}
.lines-of-code-bg1 {
  align-self: flex-end;
}
.fa-check {
  color: var(--primary-sand);
}

/* M E D I A   Q U E R I E S   */

@media (min-width: 440px) {
  .s1container-up img {
    left: 75%;
  }
}
@media (min-width: 500px) {
  .s1container-up img {
    left: 80%;
  }
}
@media (min-width: 550px) {
  .s4-lists {
    display: flex;
    font-size: 0.8rem;
    padding: 5px 25px;
    padding-bottom: 30px;
    justify-content: space-around;
    font-size: 1rem;
  }
  .s4-list1 {
    width: fit-content;
  }
  .s4-list2 {
    width: fit-content;
  }

  .s6-title {
    text-align: center;
  }
  .visitcard {
    width: 400px;
    height: 200px;
    padding: 5px;
  }
  .visitcard-subtitle {
    font-size: 0.8rem;
  }
  .visitcard-right-bottom {
    height: 50%;
  }

  .visitcard-contact-container {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
@media (min-width: 650px) {
  .s2-box2 {
    align-self: flex-start;
  }
  .s2 {
    display: flex;
    background-color: var(--secondary-black);
  }
  .s2-container2 {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .s2-cnt2-text {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 900;
    color: var(--secondary-sand);
  }
  .s2-cnt2-text > p{
    display: block;
    visibility: visible;
  }
  .s2-cnt2-stack {
    display: block;
    visibility: visible;
    width: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 10px;
  }
  .s2-cnt2-stack {
    color: var(--primary-sand);
  }
  .s2-cnt2-stack i:hover {
    color: var(--secondary-sand);
  }
  .nav {
    font-size: 1.2rem;
  }
  .s4-title {
    font-size: 2rem;
  }
}
@media (min-width: 700px) {
  .s1container-up {
    font-weight: 900;
    font-size: 2rem;
    margin-top: 50px;
  }
  .s1container-up img {
    width: 200px;
    position: relative;
    left: 70%;
    bottom: 100px;
  }
  .s1container-mid {
    margin-top: -170px;
    font-size: 1.2rem;
  }
  .s1container-dwn {
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  .lines-of-code-bg {
    height: fit-content;
    width: 250px;
  }
  .lines-of-code-chain {
    height: 15px;
  }
  .s3-stats {
    width: 65%;
  }
}
@media (min-width: 800px) {
  .s2-box {
    width: 380px;
    height: 220px;
  }
  .s2-box-up {
    height: 15%;
    padding-left: 5px;
    padding: 1px 8px;
    padding-right: 80px;
    width: 100%;
  }
  .s2-box-dwn {
    width: 100%;
    padding: 15px 20px;
  }
  .s2-box-up-right {
    margin-left: auto;
    font-size: 1.3rem;
  }
  .s2-box-dwn p {
    font-size: 1rem;
  }
  .s1container-mid {
    position: static;
  }
  .s1container-dwn {
    position: static;
  }
  .visitcard-contact-container {
    font-size: 1rem;
  }
  .s1-container {
    background: linear-gradient(
      125deg,
      rgba(42, 42, 42, 1) 50%,
      rgba(42, 42, 42, 0.95) 65%,
      rgba(42, 42, 42, 0.875) 75.5%,
      rgba(42, 42, 42, 0.737) 82.85%,
      rgba(42, 42, 42, 0.619) 88%,
      rgba(42, 42, 42, 0.5) 100%
    );
  }
}
@media (min-width: 1000px) {
  .s2-box {
    width: 400px;
    height: 240px;
  }
  .s2-box-dwn p {
    font-size: 1.15rem;
  }
  .nav {
    font-size: 1.5rem;
  }
  .nav-right button {
    font-size: 1.1rem;
  }
  .nav {
    height: 80px;
    padding: 5px 20px;
    border-bottom: 2px solid black;
  }
  .webarch--logo {
    width: 50px;
  }
  .s1container-up {
    font-size: 2.5rem;
    margin-top: 50px;
  }
  .s1container-up img {
    left: 77%;
  }
  .s1-container {
    padding: 20px 30px;
  }
  .s1-container {
    padding: 10px 100px;
  }
  .s1container-d2n {
    font-size: 1.4rem;
  }
  .s2-container {
    padding: 30px 100px;
  }
  .s3-text-title {
    font-size: 2.5rem;
    padding-top: 20px;
    width: 75%;
  }
  .s3-text {
    padding: 0 100px;
  }
  .s3-stats {
    display: flex;
    margin-top: 30px;
  }
  .s4-title {
    font-size: 2.6rem;
  }
  .s4-lists {
    font-size: 1.5rem;
  }
  .s6-container {
    flex-direction: column;
  }
  .visitcards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  .visitcard-reverse {
    visibility: visible;
    border-radius: 3px;
    width: 400px;
    height: 200px;
    background-color: var(--primary-black);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    flex-flow: COLUMN NOWRAP;
    justify-content: center;
    align-items: center;
    color: var(--primary-white);
    font-weight: 100;
    font-size: 1.3rem;
    letter-spacing: 0.4rem;
    border: 3px solid var(--primary-sand);
  }
  .visitcard-reverse .webarch--logo {
    width: 80px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .s1container-up {
    font-size: 3rem;
  }
  .s1container-up img {
    width: 250px;
  }
  .s3-text {
    font-size: 1.2rem;
  }
  .s3-text p {
    width: 65%;
    align-self: center;
  }
}
